<table>
    <tr><td><a href="https://people.cs.kuleuven.be/~bart.jacobs/browsrtest.html">Click here to view the test page</a>
    <tr><td>
        <table>
            <tr><td>Nested table 1<td>cell
            <tr><td>cell<td>cell
            <tr><td>cell<td>cell
        </table>
    <tr><td>
        <table>
            <tr><td>Nested table 2
            <tr><td>cell<td>cell
            <tr><td>cell<td>cell
        </table>

    <tr><td>
        <table>
            <tr><td>Nested table 3
            <tr><td>loooooooooooooooooooooooong cell<td>cell
            <tr><td>cell<td>cell
        </table>
    <tr><td> Nested Tables in Nested Tables:
    <tr><td>
        <table>
            <tr><td> Table 1 <td> Table 2
            <tr><td>
                <table>
                    <tr><td> 1
                    <tr><td><table>
                            <tr><td> 2 <td> 2.1
                            <tr><td> 3
                        </table>
                        <td><table>
                            <tr><td> 2.2 <td> 2.3
                            <tr><td> 3.1 <td><a href=""> Here is a link </a>
                        </table>
                        <td> Text after 2 tables
                    <tr><td> 4
                </table>
            <td>
                <table>
                    <tr><td> 1
                    <tr><td><table>
                        <tr><td> 2 <td> 2.1
                        <tr><td> 3
                    </table>
                        <td><table>
                            <tr><td> 2.2 <td> 2.3
                            <tr><td> 3.1 <td><a href=""> Here is a link </a>
                        </table>
                        <td> Text after 2 tables
                    <tr><td> 4
                </table>
        </table>
</table>