<table>
    <tr><td>Welcome to Browsr!
    <tr><td><a href="https://people.cs.kuleuven.be/~bart.jacobs/browsrtest.html">Click here to view the first test page</a>
    <tr><td><a href="https://home.vanoverloop.xyz/browsrtest/browsrtest.html">Click here to view the second test page</a>
    <tr><td><a href="https://home.vanoverloop.xyz/browsrtest/other_test.html">Click here to view the third test page</a>
    <tr><td><a href="https://people.cs.kuleuven.be/~bart.jacobs/swop/browsrformtest.html">Click here to view the form test page</a>
</table>
